@font-face {
  font-family: "OpenDyslexic";
  src: url("fonts/OpenDyslexic-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenDyslexic";
  src: url("fonts/OpenDyslexic-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "OpenDyslexic";
  src: url("fonts/OpenDyslexic-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenDyslexic";
  src: url("fonts/OpenDyslexic-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
html {
  background-image: linear-gradient(#00FFFF, #FFA000);
  letter-spacing: 0.05rem;
  word-spacing: 0.25rem;
  font-size: larger;
  font-family: "OpenDyslexic";
}

.gradientMask {
  background-image: linear-gradient(#003333, #332000);
  opacity: 0.5;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  animation: background-gradient-to-night 5s ease-out 1s 1 normal forwards;
  z-index: -2;
}

@keyframes background-gradient-to-night {
  to {
    opacity: 100%;
  }
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  font-family: "OpenDyslexic";
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  width: 90%;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin: 0;
}

h3 {
  font-size: small;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main div ul {
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  flex: 3;
}
main div table {
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

object {
  width: 90vw;
  height: auto;
  position: fixed;
  top: 0;
  left: 5vw;
  z-index: -1;
}

div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: center;
  align-content: center;
}

i {
  font-size: xx-large;
}

a {
  color: #99ffff;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 0vh;
  position: fixed;
  top: 50vh;
  left: 15vw;
  overflow-y: hidden;
  background-color: rgba(255, 230, 200, 0.85);
  border-top: 5px solid #4000c4;
  border-bottom: 5px solid #c58000;
  border-radius: 20px;
  color: #100040;
  animation: initial-border-shift 3.5s ease-out 1s 1 normal forwards, content-expand 1.5s ease-out 3s 1 normal forwards;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.5rem;
  flex-grow: 1;
}

.highlights {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 3;
}

.mediaCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 3;
}
.mediaCenter div {
  width: 25vw;
  height: 10vh;
}
.mediaCenter div img {
  height: 90%;
  width: 90%;
  object-fit: cover;
}

.bannerLogo {
  border-radius: 20px 20px 0px 0px;
  width: 90%;
}

@keyframes initial-border-shift {
  100% {
    border-top: 5px solid #003333;
    border-bottom: 5px solid #332000;
    background-color: rgba(0, 26, 26, 0.9);
    color: #ffd999;
  }
}
@keyframes content-expand {
  100% {
    height: 70vh;
    top: 15vh;
  }
}

/*# sourceMappingURL=style.css.map */
