{{ define "header" }}
{{ partial "projectHead" . }}
{{ end }}

{{ define "main" }}
{{ partial "projectBody" .}}
{{ end }}

{{ define "footer" }}
{{ $this := .}}
<nav>
    {{ range (where .Site.RegularPages "Section" .Section) }}
    <div>
        {{ if eq $this.Title .Title }}
        <a href='{{.Permalink}}' id="pageMarker" title="{{.Title}}" disabled="true" aria-disabled="true">🌵</a>
        {{ else }}
        <a href='{{.Permalink}}' title="{{.Title}}"></a>
        {{ end }}
    </div>
    {{ end }}
</nav>
{{ partial "sidebar" .}}
{{ end }}