{{ define "header" }}
<!-- banner -->
<img class="bannerLogo" src='{{ index (.Resources.Match "logo/banner.*") 0}}' title="{{.Title}} Banner"/>
<header>
    <h1>{{ .Title }}</h1>
    <h2>{{ .Params.Buzz }}</h2>
</header>
{{ end }}

{{ define "main" }}
<!-- banner logo under header? 
<img src='{{ index (.Resources.Match "logo/*") 0 }}' />
-->
<!-- Hightlights left, smaller Tools display right -->
<div>
    <div class="data">
        <h3>URLs</h3>
        {{ if eq .Params.ProjectURL .Params.RepoURL }}
        <a href="{{ .Params.ProjectURL }}">Project Link</a>
        {{ else }}
        <a href="{{ .Params.ProjectURL }}" alt="{{ .Title }} Project">Project Link</a>
        <a href="{{ .Params.RepoURL}}" alt="{{ .Title }} Repository">Repository</a>
        {{ end }}
        <h3>Tools</h3>
        <div>
        {{ range .Params.Tools }}
            <i class="devicon-{{ . }}-plain colored" title="{{.}}"></i>
        {{ end }}
        </div>
        <!-- timeline -->
        <h3>Timeline</h3>
        <p>{{ .Params.ProjectStart }}-{{ .Params.ProjectEnd }}</p>
    </div>
    <div class="highlights">
        <h3>Highlights</h3>
        <ul>
            {{ range .Params.Highlights }}
                <li>
                    {{ . }}
                </li>
            {{ end }}
        </ul>
    </div>
    <div class="mediaCenter">
        <h3>Media</h3>
        {{ range .Resources.Match "media/*" }}
        <div>
            <img src="{{ . }}" title="{{.Name}}" />
        </div>
        {{ end }}
    </div>
</div>
{{ end }}