<h2>About Me</h2>
<p id="sidebarExpand" title="click to expand">></p>
<p id="sidebarCollapse">Click away to Collapse</p>
<div id="biographical">
    <figure id="avatarHolder">
        {{ partial "image" (resources.Get "images/avatar.png")}}
        {{ partial "image" (resources.Get "images/avatarNight.png")}}
    </figure>

    <p>{{ .Site.Params.Bio }}</p>
    <figure>
        <blockquote>"{{ .Site.Params.Quote }}"</blockquote>
    </figure>
    <p>Check me out:</p>
    <p>
        <a href="{{.Site.Params.LinkedIn}}" title="My LinkedIn Page"><i class="devicon-linkedin-plain"></i></a>
        <a href="https://www.Github.com/{{.Site.Params.Github}}" title="My Github Profile"><i class="devicon-github-original"></i></a>
    </p>
    <p>{{.Site.Params.ContactPatter}}</p>
    <a href="mailto:{{ .Site.Params.Email }}">{{ .Site.Params.Email }}</a>
</div>