<h2>About Me</h2>
<p id="sidebarExpand">Click to Expand</p>
<p id="sidebarCollapse">Click away to Collapse</p>
<div id="biographical">
    <figure id="DayMan">
        {{ partial "image" (resources.Get "images/avatar.png")}}
    </figure>
    <figure id="NightMan">
        {{ partial "image" (resources.Get "images/avatarNight.png")}}
    </figure>
    {{$avatars := resources.Match "images/avatar.*"}}
    {{$Nightmen := resources.Match "images/avatarNight.*"}}
    <p>{{ .Site.Params.Bio }}</p>
    <figure>
        <blockquote>"{{ .Site.Params.Quote }}"</blockquote>
    </figure>
    {{$avatars := resources.Match "images/avatar.*"}}
    <p>Check me out:</p>
    <p>
        <a href="{{.Site.Params.LinkedIn}}" title="My LinkedIn Page"><i class="devicon-linkedin-plain"></i></a>
        <a href="Github.com/{{.Site.Params.Github}}" title="My Github Profile"><i class="devicon-github-original"></i></a>
    </p>
</div>