{{$URL := .Site.BaseURL }}
<head>
	<meta charset="UTF-8">
	<!--SEO STUFF-->
	<meta name="description" content="{{.Site.Params.Description}}">
	<meta name="keywords" content="{{.Site.Params.Keywords}}">
	<meta name="author" content="{{.Site.Params.Author}}">
	<!--SEO STUFF END-->
	<meta name="viewport" content="width=device-width">
	<meta http-equiv="Cache-control" content="public">
	<!--Favicon STUFF-->
        <!-- TODO -->
	<!--Favicon STUFF END-->
	<!--Font STUFF-->
    
	{{ range .Site.Params.Fonts }}
		<link rel="preload" as="font" href="{{ $URL }}style/fonts/{{ . }}" crossorigin>
	{{ end }}
	<!--Font STUFF END-->
	<link rel="canonical" href="{{ $URL }}" />
    <!-- TODO
	    <link rel="stylesheet" href="{{ $URL }}style/style.css">
    -->
	<title>{{.Site.Title}}</title>
</head>