{{ $this := .}}
<div class="data">
    <div>
        <h3>URLs</h3>
        {{ if eq .Params.ProjectURL .Params.RepoURL }}
        <a href="{{ .Params.ProjectURL }}">Project</a>
        {{ else }}
        <a href="{{ .Params.ProjectURL }}" alt="{{ .Title }} Project">Project</a>
        <a href="{{ .Params.RepoURL}}" alt="{{ .Title }} Repository">Repo</a>
        {{ end }}
    </div>
    <div>
        <h3>Tools</h3>
        <div>
            {{ range $index, $tool := .Params.Tools }}
            {{ if eq $tool "unity"}}
            <a href='{{index ($this.Params.ToolURLs) $index}}' title="{{ $tool }}"><i
                    class="devicon-{{ $tool }}-original colored"></i></a>
            {{ else }}
            <a href='{{index ($this.Params.ToolURLs) $index}}' title="{{ $tool }}"><i
                    class="devicon-{{ $tool }}-plain colored"></i></a>
            {{ end }}
            {{ end }}
        </div>
    </div>
    <div>
        <h3>Timeline</h3>
        <p>{{ .Params.ProjectStart }}-{{ .Params.ProjectEnd }}</p>
    </div>
</div>
<h3>Media</h3>
<div class="mediaCenter">

    {{ range .Resources.Match "media/*.png" }}
    <div tabindex="0">
        {{ partial "image.html" .}}
    </div>
    {{ end }}
</div>
<div class="highlights">
    <h3>Highlights</h3>
    <ul>
        {{ range .Params.Highlights }}
        <li>
            {{ . }}
        </li>
        {{ end }}
    </ul>
</div>