<!DOCTYPE html>
<html lang="EN">

{{ partial "head" .}}

<body>
    <script type="module" src='{{.Site.BaseURL}}scripts/home.js'></script>
    <div class="gradientMask"></div>
    {{ partial "background" .}}
    <section aria-atomic="true" aria-live="assertive">
        {{$first := index (where .Site.RegularPages "Section" "projects") 0}}
        {{ partial "projectHead" $first }}
        <main>
            {{ partial "projectBody" $first}}
        </main>
    </section>
    <nav>
        {{ range (where .Site.RegularPages "Section" "projects") }}
        <div title="{{ .Title }}">
            <input type="radio" aria-label="{{.Title}}" id="rad{{ .Weight }}" name="radioNav"
                value="{{.Permalink}}index.json">
        </div>
        {{ end }}
    </nav>
    {{ partial "sidebar" .}}
</body>

</html>