@charset "UTF-8";
@font-face {
  font-family: "OpenDyslexic";
  src: url("fonts/OpenDyslexic-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenDyslexic";
  src: url("fonts/OpenDyslexic-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "OpenDyslexic";
  src: url("fonts/OpenDyslexic-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenDyslexic";
  src: url("fonts/OpenDyslexic-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
h1 {
  font-size: xx-large;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

i {
  font-size: 3.5rem;
  color: #ffa000;
}

a {
  color: red;
}

html {
  display: flex;
  background-image: linear-gradient(#00ffff, #ffa000);
  letter-spacing: 0.05rem;
  word-spacing: 0.25rem;
  font-weight: bold;
  font-family: "OpenDyslexic";
  text-align: center;
}
html body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
html body .gradientMask {
  background-image: linear-gradient(#003333, #332000);
  opacity: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  animation: background-gradient-to-night 5s ease-out 1s 1 reverse forwards;
  z-index: -2;
}
html body #backgroundSVG {
  min-width: 90vw;
  min-height: 100vh;
  position: fixed;
  left: 5vw;
  z-index: -1;
}
html body section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 70vw;
  height: 0vh;
  flex-wrap: nowrap;
  position: fixed;
  top: 50vh;
  left: 15vw;
  overflow-y: hidden;
  border-top: 5px solid #003333;
  border-bottom: 5px solid #332000;
  background-color: rgba(0, 26, 26, 0.8);
  color: #ffd999;
  color: #100040;
  animation: initial-border-shift 2.5s ease-out 1s 1 reverse forwards, content-expand 1.5s ease-out 2s 1 normal forwards;
}
html body section .bannerLogo {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  position: relative;
}
html body section header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  width: 100%;
}
html body section main {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: center;
  width: 100%;
}
html body section main .data {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  width: 100%;
}
html body section main .data div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}
html body section main .data div:nth-child(2) {
  flex-grow: 2;
}
html body section main .data div:nth-child(2) div {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  width: 100%;
}
html body section main .data div:nth-child(2) div a {
  text-decoration: none;
}
html body section main .mediaCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  width: 100%;
  justify-content: center;
}
html body section main .mediaCenter div {
  width: 33%;
  height: 20vh;
}
html body section main .mediaCenter div picture {
  height: 100%;
  width: 100%;
}
html body section main .mediaCenter div picture img {
  height: 90%;
  width: 90%;
  object-fit: cover;
}
html body section main .mediaCenter:focus-within div:not(:focus) {
  position: absolute;
  width: 0;
  height: 0;
}
html body section main .mediaCenter:focus-within div:focus {
  width: 25vw;
  height: 10vh;
  animation: media-grow 1s linear 0s 1 normal forwards;
  z-index: 1;
  opacity: 100%;
}
html body section main .mediaCenter:hover div:not(:hover) {
  opacity: 90%;
}
html body section main .mediaCenter:hover div:hover,
html body section main .mediaCenter:hover div:focus {
  opacity: 100%;
}
html body section main .highlights {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
html body section main .highlights ul {
  list-style: none;
  padding: 0;
}
html body section main .highlights ul li::before {
  content: "🌵";
}
html body section::-webkit-scrollbar {
  width: 10px;
  /* width of the entire scrollbar */
}
html body section::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(26, 16, 0, 0.8);
}
html body section::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #00ffff;
}
html body nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  position: fixed;
  left: 15vw;
  bottom: 2.5vh;
  width: 70vw;
}
html body nav a {
  padding: 0.5rem;
  min-height: 1.5rem;
  min-width: 1.5rem;
  text-decoration: none;
  font-size: xx-large;
  line-height: 75%;
}
html body nav input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
}
html body nav a,
html body nav input[type=radio] {
  align-self: center;
  min-height: 1rem;
  min-width: 1rem;
  border: 4px solid rgba(255, 217, 153, 0.8);
  border-radius: 20px;
  background-color: rgba(0, 26, 26, 0.8);
  box-shadow: 0.25em 0.25em rgba(153, 255, 255, 0.8);
}
html body nav input[type=radio]:hover,
html body nav a:hover {
  border: 4px solid #ffa000;
  border-radius: 20px;
  background-color: rgba(0, 26, 26, 0.8);
  box-shadow: 0.5em 0.5em #00ffff;
}
html body nav input[type=radio]::before {
  visibility: hidden;
  display: block;
  content: "🌵";
  font-size: xx-large;
}
html body nav input[type=radio]:checked::before {
  visibility: visible;
}
html body .sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;
  position: absolute;
  left: 0;
  width: 5vw;
  height: 100vh;
  background-color: rgba(153, 255, 255, 0.8);
  color: #332000;
}
html body .sidebar #sidebarExpand {
  display: flex;
  font-size: xx-large;
  margin: 0;
  padding: 0;
}
html body .sidebar #sidebarCollapse {
  display: none;
}
html body .sidebar h2 {
  -webkit-text-orientation: upright;
  text-orientation: upright;
  writing-mode: vertical-lr;
  word-spacing: 0;
  letter-spacing: 0;
  white-space: nowrap;
  font-size: normal;
}
html body .sidebar div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  opacity: 0%;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-wrap: nowrap;
  font-size: smaller;
}
html body .sidebar div p {
  margin: 0;
  padding: 0.25rem;
}
html body .sidebar div figure {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #00ffff;
  color: #332000;
}
html body .sidebar div figure picture img {
  max-width: 90%;
  object-fit: cover;
}
html body .sidebar div figure blockquote {
  margin: 0;
  padding: 0.25rem;
}
html body .sidebar div a {
  text-decoration: none;
  font-size: larger;
  word-break: break-all;
}
html body .sidebar div::-webkit-scrollbar {
  width: 10px;
  /* width of the entire scrollbar */
}
html body .sidebar div::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(26, 16, 0, 0.8);
}
html body .sidebar div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #00ffff;
}
html body .sidebar footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  font-size: x-small;
  word-break: break-all;
  flex-grow: 1;
  align-items: flex-end;
}
html body .sidebar:focus,
html body .sidebar:focus-within {
  animation: sidebar-grow 1s linear 0s 1 normal forwards;
}
html body .sidebar:focus #sidebarExpand,
html body .sidebar:focus-within #sidebarExpand {
  display: none;
}
html body .sidebar:focus #sidebarCollapse,
html body .sidebar:focus-within #sidebarCollapse {
  display: flex;
  font-size: x-small;
}
html body .sidebar:focus div,
html body .sidebar:focus-within div {
  animation: bio-grow 1s linear 0s 1 normal forwards;
}
html body .sidebar:focus h2,
html body .sidebar:focus-within h2 {
  writing-mode: inherit;
  -webkit-text-orientation: inherit;
  text-orientation: inherit;
}

@keyframes background-gradient-to-night {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes media-grow {
  to {
    height: 50vh;
    width: 66%;
  }
}
@keyframes initial-border-shift {
  0% {
    background-color: rgba(255, 230, 200, 0.85);
    border-top: 5px solid #00ffff;
    border-bottom: 5px solid #ffa000;
    color: #332000;
  }
  100% {
    border-top: 5px solid #003333;
    border-bottom: 5px solid #332000;
    background-color: rgba(0, 26, 26, 0.8);
    color: #ffd999;
  }
}
@keyframes content-expand {
  0% {
    height: 0%;
  }
  100% {
    height: 70%;
    top: 15%;
    overflow-y: auto;
  }
}
@keyframes sidebar-grow {
  0% {
    width: 5vw;
  }
  to {
    width: 25vw;
  }
}
@keyframes bio-grow {
  95% {
    width: 95%;
    opacity: 0%;
  }
  100% {
    width: 100%;
    opacity: 100%;
  }
}
@keyframes sidebar-color {
  0% {
    background-color: rgba(153, 255, 255, 0.8);
    color: #332000;
  }
  100% {
    background-color: rgba(0, 26, 26, 0.8);
    color: #ffd999;
  }
}
@media screen and (max-width: 600px) {
  .sidebar {
    width: 12vw;
  }

  @keyframes sidebar-grow {
    0% {
      width: 12vw;
    }
    to {
      width: 65vw;
    }
  }
  input[type=radio]::before,
input[type=checkbox]::before {
    font-size: x-large;
  }
}
@media screen and (max-height: 600px) {
  input[type=radio]::before,
input[type=checkbox]::before {
    font-size: large;
  }
}

/*# sourceMappingURL=styleDay.css.map */
