@use "sass:color";

@font-face {
    font-family: "OpenDyslexic";
    src: url("fonts/OpenDyslexic-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenDyslexic";
    src: url("fonts/OpenDyslexic-Italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "OpenDyslexic";
    src: url("fonts/OpenDyslexic-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenDyslexic";
    src: url("fonts/OpenDyslexic-BoldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

$Primary: #FFA000;
$Secondary: #00FFFF; 
$PrimaryDark: color.scale($Primary, $lightness: -80%);
$SecondaryDark: color.scale($Secondary, $lightness: -80%);
$PrimaryDarkTransp: color.scale($Primary, $lightness: -90%, $alpha: -10%);
$SecondaryDarkTransp: color.scale($Secondary, $lightness: -90%, $alpha: -10%);
$PrimaryLight: color.scale($Primary, $lightness: 60%);
$SecondaryLight: color.scale($Secondary, $lightness: 60%);
$PrimaryLightTransp: color.scale($Primary, $lightness: 60%, $alpha: -10%);
$SecondaryLightTransp: color.scale($Secondary, $lightness: 60%, $alpha: -10%);

@mixin flexCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@mixin Spacing1Rem {
    margin: .5rem;
    padding: .5rem;
}

html {
    background-image: linear-gradient($Secondary, $Primary);
    letter-spacing: .05rem;
    word-spacing: .25rem;
    font-size: larger;
    font-weight: bold;
    font-family: "OpenDyslexic";
}

.gradientMask {
    background-image: linear-gradient($SecondaryDark, $PrimaryDark);
    opacity: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    animation: background-gradient-to-night 5s ease-out 1s 1 normal forwards;
    z-index: -2;
}

@keyframes background-gradient-to-night {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    font-family: "OpenDyslexic";
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 90%;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    margin: 0;
}

h3 {
    font-size: small;
}

p {
    margin: .5rem;
}

main {
    @include flexRow();
    div {
        ul {
            @include Spacing1Rem();
            display: flex;
            flex-direction: column;
            flex: 3;
        }
        table {
            @include Spacing1Rem();
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }
}

nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 15vw;
    bottom: 7vh;
    width: 70vw;
    a {
        border-radius: 20px;
        background-color: $SecondaryDark;
        padding: .5rem;
    }
    div {
        @include flexCol();
    }
}

footer {
    position: fixed;
    bottom: 0;
}

section {
    padding: 1rem;
    width: 100%;
    .bannerLogo {
        border-radius: 20px;
    }
}

//16:9 ratio for testing.
object {
    width: 90vw;
    height: auto;

    position: fixed;
    top: 0;
    left: 5vw;

    z-index: -1;
}

.bannerLogo {
    border-radius: 20px 20px 0px 0px;
    width: 90%;
    position: relative;
    top: 0;
    left: 0;
}

div {
    @include flexRow();
}

.spaced {
    justify-content: space-evenly;
}

i {
    font-size: xx-large;
    color: $Primary;
}

a {
    color: red;
}

.content {
    @include flexCol();

    width: 70vw;
    height: 0vh;

    position: fixed;
    top: 50vh;
    left: 15vw;
    overflow-y: hidden;

    background-color: rgba(255, 230, 200, 0.85);
    border-top: 5px solid $Secondary;
    border-bottom: 5px solid $Primary;
    border-radius: 20px;

    color: rgb(16, 0, 64);

    animation: initial-border-shift 3.5s ease-out 1s 1 normal forwards, content-expand 1.5s ease-out 3s 1 normal forwards;
}

.col {
    @include flexCol();
}

.data {
    @include flexCol();
    @include Spacing1Rem();
    flex-grow: 1;
}

.highlights {
    @include flexCol();
    flex-grow: 3;
}

.mediaCenter {
    @include flexCol();
    padding: 0rem .5rem;
    flex-grow: 3;   
    div {
        width: 25vw;
        height: 10vh;
        picture {
            height: 100%;
            width: 100%;
            img {
                height: 90%;
                width: 90%;
                object-fit: cover;
            }
        }
    }
}

.mediaCenter:focus-within {
    div:not(:focus) {
        position: absolute;
        width: 0;
        height: 0;
    }
    div:focus {
        width: 25vw;
        height: 10vh;
        animation: media-grow 1s linear 0s 1 normal forwards;
        z-index:1;
        opacity: 100%;
    }
}

.mediaCenter:hover {
    div:not(:hover) {
        opacity: 90%;
    }
    div:hover, div:focus{
        opacity: 100%;
    }
}

@keyframes media-grow {
    to {
        height: 30vh;
    }
}

@keyframes initial-border-shift {
    0% {
        background-color: rgba(255, 230, 200, 0.85);
        border-top: 5px solid $Secondary;
        border-bottom: 5px solid $Primary;
        color: $PrimaryDark;
    }
    100% {
        border-top: 5px solid $SecondaryDark;
        border-bottom: 5px solid $PrimaryDark;
        background-color: $SecondaryDarkTransp;
        color: $PrimaryLight;
    }
}

@keyframes content-expand {
    0% {
        height: 0%;
    }
    100%{
        height: 70%;
        top: 15%;
        overflow-y: auto;
    }
}

figure {
    margin: .5rem;
    padding: .5rem;
    background-color: $PrimaryDarkTransp;
    color: $PrimaryLight;
}

#DayMan {
    display: none;
}

.sidebar {
    @include flexCol();
    padding: .5rem 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 5rem;
    height: 100%;
    opacity: 90%;
    background-color: $SecondaryDarkTransp;
    color: $PrimaryLight;
    #sidebarCollapse {
        display: none;
    }
    div {
        @include flexCol();
        padding: .1 2rem;
        font-size: smaller;
        opacity: 0%;
        display: none;
    }
    picture {
        img {
            max-width: 300px;
            object-fit: cover;
        }
    }
    h2 {
        position: fixed;
        top: 1rem;
    }
    a {
        text-decoration: none;
    }
    // animation: sidebar-color 2.5s linear .5s 1 normal forwards;
}

.sidebar:hover, .sidebar:focus {
    opacity: 100%;
}

.sidebar:focus {
    animation: sidebar-grow 1s linear 0s 1 normal forwards;
    #sidebarExpand {
        display: none;
    }
    #sidebarCollapse {
        display: flex;
        font-size: small;
    }
    div {
        width: 0;
        display: flex;
        animation: bio-grow 1s linear 0s 1 normal forwards;
    }
}

@keyframes sidebar-grow {
    to {
        width: 25rem;
    }
}

@keyframes bio-grow {
    95% {
        width: 95%;
        opacity: 0%;
    }
    100% {
        width: 100%;
        opacity: 100%;
    }
}

@keyframes sidebar-color {
    0% {
        background-color: $SecondaryLightTransp;
        color: $PrimaryDark;
    } 100% {
        background-color: $SecondaryDarkTransp;
        color: $PrimaryLight;
    }
}