@use "sass:color";

@font-face {
    font-family: "OpenDyslexic";
    src: url("fonts/OpenDyslexic-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenDyslexic";
    src: url("fonts/OpenDyslexic-Italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "OpenDyslexic";
    src: url("fonts/OpenDyslexic-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenDyslexic";
    src: url("fonts/OpenDyslexic-BoldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

$Primary: #ffa000;
$Secondary: #00ffff;
$PrimaryDark: color.scale($Primary, $lightness: -80%);
$SecondaryDark: color.scale($Secondary, $lightness: -80%);
$PrimaryDarkTransp: color.scale($Primary, $lightness: -90%, $alpha: -20%);
$SecondaryDarkTransp: color.scale($Secondary, $lightness: -90%, $alpha: -20%);
$PrimaryLight: color.scale($Primary, $lightness: 60%);
$SecondaryLight: color.scale($Secondary, $lightness: 60%);
$PrimaryLightTransp: color.scale($Primary, $lightness: 60%, $alpha: -20%);
$SecondaryLightTransp: color.scale($Secondary, $lightness: 60%, $alpha: -20%);

@mixin flexCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

@mixin flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

@mixin Spacing1Rem {
    margin: 0.5rem;
    padding: 0.5rem;
}

html {
    display: flex;
    background-image: linear-gradient($Secondary, $Primary);
    letter-spacing: 0.05rem;
    word-spacing: 0.25rem;
    font-weight: bold;
    font-family: "OpenDyslexic";
}

.gradientMask {
    background-image: linear-gradient($SecondaryDark, $PrimaryDark);
    opacity: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    animation: background-gradient-to-night 5s ease-out 1s 1 normal forwards;
    z-index: -2;
}

@keyframes background-gradient-to-night {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    font-family: "OpenDyslexic";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    margin: 0;
}

h3 {
    font-size: small;
}

p {
    margin: 0.5rem;
}

nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 15vw;
    bottom: 2.5vh;
    width: 70vw;

    a {
        margin: 0.5rem 0.15rem;
        padding: 0.25rem 0.5rem;
        height: 1.5rem;
        min-height: 1rem;
        border: 2px solid $PrimaryLightTransp;
        border-radius: 20px;
        background-color: $SecondaryDarkTransp;
        text-decoration: none;

        font-weight: 900;
        font-size: 2rem;
        outline: none;
        text-align: center;

        display: block;
        line-height: 75%;
    }

    div {
        @include flexCol();
    }
}

// Radio navigation buttons
input[type="radio"],
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
}

input[type="radio"],
input[type="checkbox"] {
    align-self: center;
    min-height: 1rem;
    min-width: 1rem;

    border: 4px solid $PrimaryLightTransp;
    border-radius: 20px;
    background-color: $SecondaryDarkTransp;
    box-shadow: 0.25em 0.25em $SecondaryLightTransp;
}

input[type="radio"]:hover,
input[type="checkbox"] {
    align-self: center;

    border: 4px solid $Primary;
    border-radius: 20px;
    background-color: $SecondaryDarkTransp;
    box-shadow: 0.5em 0.5em $Secondary;
}

input[type="radio"]::before,
input[type="checkbox"]::before {
    visibility: hidden;
    display: block;
    content: "🌵";
    font-size: xx-large;
}

input[type="radio"]:checked::before,
input[type="checkbox"]:checked::before {
    visibility: visible;
}

ul {
    list-style: none;
    li::before {
        content: "🌵";
    }
}

//16:9 ratio for testing.
#backgroundSVG {
    min-width: 90vw;
    min-height: 100vh;

    position: fixed;
    top: 0;
    left: 5vw;

    z-index: -1;
}

.bannerLogo {
    border-radius: 20px 20px 0px 0px;
    width: 90%;
    position: relative;
    top: 0;
    left: 0;
}

i {
    font-size: xx-large;
    color: $Primary;
}

a {
    color: red;
}

section {
    @include flexCol();
    width: 70vw;
    height: 0vh;
    flex-wrap: nowrap;
    position: fixed;
    top: 50vh;
    left: 15vw;
    overflow-y: hidden;

    background-color: rgba(255, 230, 200, 0.85);
    border-top: 5px solid $Secondary;
    border-bottom: 5px solid $Primary;
    border-radius: 20px;

    color: rgb(16, 0, 64);

    animation: initial-border-shift 3.5s ease-out 1s 1 normal forwards,
        content-expand 1.5s ease-out 3s 1 normal forwards;
}
section::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
}
section::-webkit-scrollbar-track {
    border-radius: 10px;
    background: $PrimaryDarkTransp;
}
section::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $Secondary;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    width: 98%;
}

main {
    width: 98%;
}

.data {
    @include flexRow();
    justify-content: space-around;
    flex-wrap: wrap;
    div:nth-child(2) {
        margin: 0;
        padding: 0;
        a {
            text-decoration: none;
        }
    }
    div:first-child {
        @include flexCol();
    }
}

.highlights {
    @include flexCol();
    flex-grow: 1;
}

.mediaCenter {
    @include flexRow();
    padding: 0rem 0.5rem;
    flex-grow: 1;
    justify-content: center;
    div {
        width: 33%;
        height: 20vh;
        picture {
            height: 100%;
            width: 100%;
            img {
                height: 90%;
                width: 90%;
                object-fit: cover;
            }
        }
    }
}

.mediaCenter:focus-within {
    div:not(:focus) {
        position: absolute;
        width: 0;
        height: 0;
    }
    div:focus {
        width: 25vw;
        height: 10vh;
        animation: media-grow 1s linear 0s 1 normal forwards;
        z-index: 1;
        opacity: 100%;
    }
}

.mediaCenter:hover {
    div:not(:hover) {
        opacity: 90%;
    }
    div:hover,
    div:focus {
        opacity: 100%;
    }
}

@keyframes media-grow {
    to {
        height: 50vh;
        width: 66%;
    }
}

@keyframes initial-border-shift {
    0% {
        background-color: rgba(255, 230, 200, 0.85);
        border-top: 5px solid $Secondary;
        border-bottom: 5px solid $Primary;
        color: $PrimaryDark;
    }
    100% {
        border-top: 5px solid $SecondaryDark;
        border-bottom: 5px solid $PrimaryDark;
        background-color: $SecondaryDarkTransp;
        color: $PrimaryLight;
    }
}

@keyframes content-expand {
    0% {
        height: 0%;
    }
    100% {
        height: 70%;
        top: 15%;
        overflow-y: auto;
    }
}

.sidebar {
    @include flexCol();
    flex-wrap: nowrap;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 5vw;
    height: 100vh;
    font-size: smaller;
    background-color: $SecondaryDarkTransp;
    color: $PrimaryLight;
    #sidebarExpand {
        display: flex;
        font-size: xx-large;
        margin: 0;
        padding: 0;
    }
    #sidebarCollapse {
        display: none;
    }
    div {
        @include flexCol();
        opacity: 0%;
        width: 0;
        margin: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        flex-wrap: nowrap;
        p {
            margin: 0;
            padding: 0.25rem;
        }
    }
    div::-webkit-scrollbar {
        width: 10px; /* width of the entire scrollbar */
    }
    div::-webkit-scrollbar-track {
        border-radius: 10px;
        background: $PrimaryDarkTransp;
    }
    div::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: $Secondary;
    }
    figure {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 100%;
        picture {
            grid-column: 1;
            grid-row: 1;
            img {
                max-width: 90%;
                object-fit: cover;
            }
        }
    }
    h2 {
        -webkit-text-orientation: upright;
        text-orientation: upright;
        writing-mode: vertical-lr;
        margin: 0;
        padding: 0;
        word-spacing: 0;
        letter-spacing: 0;
        white-space: nowrap;
        font-size: small;
    }
    a {
        text-decoration: none;
        font-size: larger;
        word-break: break-all;
    }
}

footer {
    display: flex;
    font-size: x-small;
    padding: 0;
    margin: 0;
    word-break: break-all;
    flex-grow: 1;
    align-items: flex-end;
}

figure {
    padding: 0;
    margin: 0;
    background-color: $PrimaryDarkTransp;
    color: $SecondaryLight;
}

blockquote {
    margin: 0;
    padding: 0.25rem;
}

.sidebar:focus,
.sidebar:focus-within {
    animation: sidebar-grow 1s linear 0s 1 normal forwards;
    #sidebarExpand {
        display: none;
    }
    #sidebarCollapse {
        display: flex;
        font-size: x-small;
    }
    div {
        animation: bio-grow 1s linear 0s 1 normal forwards;
    }
    h2 {
        writing-mode: inherit;
        text-orientation: inherit;
    }
}


@keyframes sidebar-grow {
    0% {
        width: 5vw;
    }
    to {
        width: 25vw;
    }
}

@keyframes bio-grow {
    95% {
        width: 95%;
        opacity: 0%;
    }
    100% {
        width: 100%;
        opacity: 100%;
    }
}

@keyframes sidebar-color {
    0% {
        background-color: $SecondaryLightTransp;
        color: $PrimaryDark;
    }
    100% {
        background-color: $SecondaryDarkTransp;
        color: $PrimaryLight;
    }
}

@media screen and (max-width: 600px) {
    .sidebar {
        width: 12vw;
    }
    @keyframes sidebar-grow {
        0% {
            width: 12vw;
        }
        to {
            width: 65vw;
        }
    }
    input[type="radio"]::before,
    input[type="checkbox"]::before {
        font-size: x-large;
    }
}

@media screen and (max-height: 600px) {
    input[type="radio"]::before,
    input[type="checkbox"]::before {
        font-size: large;
    }
}
